dataset
demo
landmarks
models/cnn/psl_cnn_aug.keras
models/cnn/psl_cnn_raw.keras
models/cnn/psl_cnn_aug_improved.keras
models/rnn/psl_lstm_aug.keras
models/rnn/psl_lstm_aug_improved.keras
models/rnn/psl_lstm_raw.keras
models/svc/psl_augmented.pkl
models/svc/rf_psl_augmented.pkl
models/svc/scaler_augmented.joblib
testing/with-camera-testing/psl_lstm_aug_1.keras
testing/with-camera-testing/psl_cnn_aug_improved.keras
testing/with-camera-testing/psl_cnn_aug.keras
testing/with-camera-testing/rf_model_aug.pkl
testing/with-camera-testing/svc_model_aug.pkl
testing/with-camera-testing/scaler_aug.joblib